@{
    Layout = (string)ViewData["Layout"];
}
@if (ViewBag.IsPopup)
{

    <script>
        var isModify = "@ViewBag.Id";
        isModify > 0 ? setTitle("Kunde erfassen/ändern") : setTitle("Kunde erfassen/ändern");

        function setTitle(title) {
            $('#modal_title').text(title);
        }

    </script>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h2 id="modal_title">@ViewBag.Title</h2>
    </div>
}
else
{
    <h2>@ViewBag.Title</h2>
}
<style>
    .modal-body {
        max-height: calc(100vh - 160px);
        overflow-y: auto;
        height: 400px;
    }
    #ajax-modal{
        width:800px;
    }
</style>

@using (Html.BeginForm("Customer", "Party", FormMethod.Post, new { @class = "form-horizontal", role = "form", id = "Customer", posturl = "Party/SaveCustomer", dataname = "Customer", objectid = ViewBag.Id }))
{
    if (ViewBag.IsPopup)
    {
        @Html.Raw("<div class='modal-body modal-layout-2'>");
    }

    Html.AntiForgeryToken();

    <div class="form-group">
        <div class="col-md-12">
            <div class="field-set">
                @WebHelpers.TextEditor("Name", "Name", "Benennung", "Benennung", "1", isRequired: true, nameForMessage: "Benennung")
            </div>
        </div>
    </div>
    <div class="col-md-12" style="padding-top:10px;">
        @WebHelpers.DropZoneEditor("customerDropZone", "customerPreview", "Logo", "300px", showDescription: false, maxFiles: "1")

    </div>
    @Html.Partial("_PopupFooter");
}
<script>
    var objectId = "@ViewBag.Id";
    var objectTypeName = "@ViewBag.TypeName";
    var dcCustomer = "@ViewBag.Input";
    var myAttachZone = null;
    var documentInstanceId = 0;

</script>
<script type="text/javascript" src="~/Lib/App/Views/Party/customer.js"></script>
